.buttonLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
